HMACSECRET=G3tN7wR1cZ5oJ8mK9pH0dF7uL2vM1y0R
HMACSECRET_info=length must 32 chars
VCPortRangeLimit=20
Cors=["http://localhost:3000", "http://localhost:7000", "http://192.168.100.7:3000", "http://192.168.100.7:7000", "http://192.168.100.8:3000", "http://192.168.100.8:7000", "http://192.168.100.2:3000", "http://192.168.100.2:7000","https://www.penyatu.com", "https://penyatu.com"]
CertFile=/path_to_cert/fullchain.pem
KeyFile=/path_to_prvatekey/privkey.pem
Mongosh=mongodb://root:example@mongo:27017
GOCLI=000000000-000000000000000000000000000000000000.apps.googleusercontent.com
GOSEC=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
GOREDIRECT=http://localhost:7000/api/callback/google
SMTP_HOST=
SMTP_PORT=587
SMTP_SENDER_NAME=Satu <satu@penyatu.com>
SMTP_AUTH_EMAIL=satu@penyatu.com
SMTP_AUTH_PWD=